@charset "UTF-8";

table {
            border-collapse: collapse;
            width: 100%;
            font-family: Arial, sans-serif;
            background-color: #edd07a;
  			color: white;
  			
        }

        th, td {
            border: 1px solid black; /* Default border for all cells */
            padding: 8px;
            text-align: center;
        }
        h5{
        
        font-style: oblique;
        font-family: "Trirong", serif;
        background-color: lightgrey;
  		color: #ba8f2c;
        }
        